body {
    width: 375px;
    background-color: white;
    position: absolute;
    gap: 88px;
}
  

  .app-bar {
    position: absolute;
    top: 15px;
  }
  
  .bg {
    padding-top: 135px;

  }
  
  .header{
    width: 375px;
    height: 718px;
    flex-shrink: 0;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
    position: absolute;
    width: 375px;
    height: 604px;
    left: calc(51% - 375px / 2);
    top: 68px;
  }
  
  .headline-text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    align-items: center;
    color: #172b4d;
  }
  
  .primary-text {
    width: 327px;
    height: 146px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }
  
  .social-media {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1px;
    color: #7f8cff;
    margin-top: 24px;
  }
  
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 20px;
    width: 117px;
    height: 24px;
    margin-top: 28px;
    cursor: pointer;
  }
  

  .work-section {
    margin-top: 6rem;
    justify-content: center;
    margin-bottom: 8rem;
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
    width: 375px;
    background-color: #d3d3d3;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 12px;
    height: 590px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    width: 315px;
    top: 718px;
  }
  
  .snapshot-portfolio1 {
    width: 295px;
    height: 200px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 5px;
  }
  
  .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 9px;
    width: 295px;
    height: 288px;
  }
  
  .project-title {    
    width: 295px;
    height: 10px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #172b4d;
    font-family: Poppins, sans-serif;
    margin-top: 5px;
    display: flex;
  }
  
  .experience ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    text-decoration: none;
    list-style: none;
    width: 250px;
    height:32px;
    gap: 2px;
    margin-top:110px;

  }

  .experience li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #7a869a;    
    gap: 12px;
    margin-top: 0;

  }

  .layout{
    width: 295px;
    height:288px;
    gap: 12px;
  }
  
  
  .textt {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 295px;
    height: 80px;
    letter-spacing: 0;
    text-align: left;
    margin-top: -25px;
  }
  
  .tagss {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 15px;
    width: 200px;
    height: 10px;
    margin-top: 23px;

  }
  
  .tagss li {
    list-style: none;
    background: #ebebff;
    padding: 6px 14px;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    width: 60px;
    height:16px;
    margin-top: -7px;
    color: #6070ff;
  }
  
  .action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 295px;
    height: 20px;
    padding: 10px;
    gap: 8px;
    margin-top: -6px;

  }
  
  .see-project {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #396df2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 126px;
    height: 48px;
    left: 0;
    top: calc(50% - 48px / 2);
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
  }

  .myself {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 380px;
    background-color: white;
    border-top-right-radius: 70px;
  }

  .resume-btn {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 280px;
    margin-left: 0;
  }

  .resume {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #396df2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 220px;
    height: 68px;
    top: calc(50% - 48px / 2);
    border: 2px solid #6070ff;
    border-radius: 12px;
    background-color: #fff;
  }

  .languages {
    height: 100px;
    left: 12px;
    right: 78px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 5rem;
    color: #000;
  }

  .button-resume {
    margin-top: 110px;
    flex-direction: row;
    width: 315px;
    height: 20px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 4px;
    margin-left: 0;
    border-radius: 8px;
  }

  .resume-text{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #396df2;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 156px;
    height: 48px;
    left: 0;
    top: calc(50% - 48px / 2);
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
  }

  .layoutt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .boxxx{
    width: 327px;
    height: 400px;
    gap: 12px;
    margin-top: 90px;
  }